.aboutbox {
  --color: rgba(216, 158, 12, 0.819);
background-color: var(--color);
box-shadow: 0 0 15px 0 var(--color);
padding: 40px 30px;
width: 100%;
max-width: 900px;
max-height: 900px;
border-radius: 20px;
margin-top: 50px;
padding-top: 10px;
}

.about_image_AF{
  display: block;
  width: 500px;
  height: 150px;
}
.link_AF{
  display: flex;
  max-width: 10%;
  height: 150px;
  object-fit: contain;
  margin-left: 350px;
}

.about_image_TF{
  display: block;
  width: 500px;
  height: 150px;

}

.link_TF{
  display: flex;
  max-width: 20%;
  height: 150px;
  object-fit: contain;
  margin-left: 250px;
}

.about_image_SS{
  display: block;
  width: 500px;
  height: 150px;
}

.link_SS{
  display: flex;
  max-width: 20%;
  height: 150px;
  object-fit: contain;
  margin-left: 180px;
}
